# 忽略文件夹
build/Control/*
build/Gating/*
build/Service/*
dist/bin/*
# 所有此名文件夹将被忽略
**/data/
**/config/
**/output/
**/logs/
**/tests/

# 基础忽略
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
Thumbs.db
.*
!.gitignore
!.gitkeep